@font-face{
    font-family:"digi-font";
    src:url("DS-DIGI.TTF");
}
*{padding:0px;
margin:0px;}
#container{
    background: #3d3a3a;
    border-radius: 3px;
    width:300px;
    padding:15px 0px 25px 10px;
    
}
.row{
    
    width:290px;
    padding-bottom: 0px;
    height:50px;
    font-family: 'digi-font';
    
}
input{
    width:288px;
    height:100%;
    
    margin-top:0px;
    border-style:none;
    text-align:right;
    font-size: 1.5em;
    font-family: 'digi-font';
    font-weight: bold;
}

 a{
    text-align: center;
    padding: 18px 0px; 
    width:25%;
    
    background-color: rgb(119, 141, 141);
    border:none;
    float: right;
    
}

.row a:hover{
    background-color: rgb(108, 121, 121);
}

.dark{
    background-color: #252121;
    color: white;
    
}

.red{
    background-color: red;
    color: white;
    text-align:auto;
    padding:10px 0px;
    margin:5px 0px 0px 5px;
    border-radius:5px;
}
